/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

div.wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;

  h1 {
    text-align: center;
    color: rgb(255 0 0);
  }
}

html {
  /* declaration */
  --red-hue: 0deg;
  --red-sat: 100%;
  --red-lit: 50%;

  --red: hsl(var(--red-hue) var(--red-sat) var(--red-lit));
  --dark-red: hsl(var(--red-hue) var(--red-sat) calc(var(--red-lit) - 20%));
  --transparent-red: hsl(var(--red-hue) var(--red-sat) var(--red-lit) / 0.5);
  --soft-red: hsl(
    var(--red-hue) calc(var(--red-sat) - 30%) calc(var(--red-lit) + 10%)
  );
}

body {
  background-color: #f1f1f1;
}

/* Navigation Styling */
nav {
  background-color: wheat;
  padding: 10px 20px;
  font-family: "Euclid-Light";
  font-size: 30px;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(44, 37, 37);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-family: "Almarena-Medium";
  font-size: 40px;
}

h2,
h2 {
  font-family: "Euclid-Regular";
  padding-top: 15px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;

  @media (width >=40em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >=60em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >=80em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

section {
  padding: 40px 20px 20px 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  border: 10px;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
  padding: 2px 16px;
}

.container p {
  font-family: "Euclid-Regular";
  padding: 10px 0;
}

nav a:hover {
  background-color: #024ec2;
  color: white;
}

.footer-copyright {
  display: flex;
  background-color: #f1f1f1;
  width: 100%;
  justify-content: center;
  font-family: "Euclid-Light";
}

@font-face {
  font-family: "Almarena-Medium";
  src: url(./Assets/Fonts/AlmarenaNeueDisplay-Medium-iF66afd734e6b8e.otf);
}

@font-face {
  font-family: "Almarena-Regular";
  src: url(./Assets/Fonts/AlmarenaNeueDisplay-Regular-iF66afd734ef9a2.otf);
}

@font-face {
  font-family: "Euclid-Light";
  src: url(./Assets/Fonts/Euclid\ Circular\ A\ Light.ttf);
}

@font-face {
  font-family: "Euclid-Regular";
  src: url(./Assets/Fonts/Euclid\ Circular\ A\ Regular.ttf);
}
