section {
    background-color: rgba(0, 0, 0, 0.882);
    display: flex;
    height: 100vh;
}

.container {
    width: 700px;
    height: 500px;
    margin-left: 500px;
    margin-top: 80px;
}


.heading {
    position: absolute;
    background-color: rgb(250, 120, 141);
    color: white;
    border-radius: 5px;
    top: 50px;
    left: 50%;
    transform: translateX(-58%);
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container p {
    background-color: white;
    border-radius: 5px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}


