/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

div.wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;

  h1 {
    text-align: center;
    color: rgb(255 0 0);
  }
}

html {
  /* declaration */
  --red-hue: 0deg;
  --red-sat: 100%;
  --red-lit: 50%;

  --red: hsl(var(--red-hue) var(--red-sat) var(--red-lit));
  --dark-red: hsl(var(--red-hue) var(--red-sat) calc(var(--red-lit) - 20%));
  --transparent-red: hsl(var(--red-hue) var(--red-sat) var(--red-lit) / 0.5);
  --soft-red: hsl(
    var(--red-hue) calc(var(--red-sat) - 30%) calc(var(--red-lit) + 10%)
  );
}

body {
  background-color: #f0ebe5;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
li,
a {
  font-family: "Euclid-Regular";
}

p {
  font-family: "Euclid-Regular";
  font-size: 0.9rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 50px;
  width: 100%;
}

.nav-section .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 90px;
}

.nav-section .logo img:first-child {
  width: 25px;
  height: 25px;
}

.nav-section .logo img {
  width: 2px;
  height: 25px;
}

.nav-section .logo h2 {
  font-family: "Euclid-Regular";
  font-size: 1.5rem;
  color: #0065fe;
}

.nav-section .logo,
.nav-section .nav-links {
  justify-content: space-evenly;
}

.nav-section ul,
.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-decoration: none;
  list-style: none;
  font-family: "Euclid-Regular";
  color: black;
}

.nav-links .trial-btn {
  padding: 10px 20px;
  background-color: #0065fe;
  border-radius: 120px;
}

.nav-links .login-link a,
.nav-links .trial-btn a {
  gap: 20px;
}

.nav-links .trial-btn a {
  color: white;
}

.nav-links .login-link a {
  color: #0065fe;
  padding-right: 20px;
}

.nav-links a:not(.login-link, .trial-btn) a {
  align-items: center;
  justify-content: space-between;
  padding: 0 190px 0 0;
}

#features {
  font-family: "Euclid-Regular";
  border: none;
  background-color: #f0ebe5;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.hero-head,
.hero-button,
.link-arrow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 240px;
}

.hero-head h2 {
  font-family: "Euclid-Regular";
  font-size: 3.5rem;
  width: 1300px;
  padding: 20px 20px 0 0;
}

.hero-head span {
  color: #0065fe;
}

.hero-head img {
  position: relative;
  left: 80px;
  padding: 0 0 10px 0;
}

.hero-head p {
  font-family: "Euclid-Regular";
  font-size: 18px;
  width: 800px;
  font-weight: 600px;
  padding: 20px 0 0 0;
}

.hero-button {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0 0 20px 0;
}

.hero-button a {
  text-decoration: none;
  font-family: "Euclid-Regular";
  font-size: 15px;
  color: #0065fe;
}

.hero-button .hero-colored-button {
  border: 1px solid #0065fe;
  background-color: #0065fe;
  border-radius: 50px;
  padding: 10px 30px;
  color: white;
}

.link-arrow-section {
  background-color: #eaeff3;
  border: 1px solid #0065fe;
  border-radius: 20px;
  width: 700px;
  height: 200px;
  padding: 20px 0 0 0;
  z-index: 10;
}

.link-arrow-section img:first-child {
  display: flex;
  align-items: flex-start;
  position: relative;
  right: 100px;
}

.link-arrow-section p {
  width: 400px;
  font-family: "Euclid-Regular";
  text-align: center;
}

.oval-icon {
  position: relative;
  top: -250px;
  right: 220px;
}

.vector-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 920px;
}

.vector-section img:first-child {
  position: relative;
  top: 80px;
}

.vector-section img:last-child {
  width: 1800px;
}

.stats-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f9fbfd;
  height: 150px;
}

.stats-text,
.stats-users,
.stats-links,
.stats-clicked,
.stats-integration {
  font-family: "Euclid-Regular";
}

.stats-users,
.stats-links,
.stats-clicked,
.stats-integration:not(.stats-text) {
  width: 150px;
  text-align: left;
}

.stats-text h2 {
  font-size: 2rem;
  font-weight: 900px;
}

.stats-text span {
  color: #0065fe;
}

.why-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  font-family: "Euclid-Regular";
  padding: 70px 0;
}

.why-scissor,
.features-section {
  margin: 0 100px;
  width: 400px;
}

.why-scissor-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.why-scissor-head img {
  height: 30px;
}

.why-scissor-head h2 {
  font-size: 2rem;
}

.why-scissor-head span {
  color: #0065fe;
}

.features-section {
  display: flex;
  gap: 30px;
  width: 50%;
}

.feature img {
  border: 1px solid #0065fe;
  border-radius: 190px;
  padding: 10px;
  background-color: #e4efff;
}

.feature h3 {
  padding-top: 15px;
}

.feature p {
  padding-bottom: 35px;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
}

.pricing-head {
  display: flex;
  align-items: center;
  justify-content: center;text-align: center;
  gap: 5px;
  width: 100vw;
}

.pricing-head img {
  height: 30px;
}

.pricing-head h2 {
  font-size: 2rem;
}

.pricing-head span {
  color: #0065fe;
}

.pricing-heading p {
  text-align: center;
  margin: 10px 100px;
}

.pricing-body {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.card {
  border: 1px solid #0065fe;
  border-radius: 10px;
  padding: 40px;
}

.card > h2,
h3,
h4,
ul {
  padding: 15px;
}

.card > h3,
h4 {
  font-family: "Euclid-Light";
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  list-style: none;
  padding: 7px;
}

.card li img {
  width: 25px;
  height: 25px;
}

#professional-card img {
  filter: brightness(0) invert(1);
}

#basic-card {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#teams-card {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#professional-card {
  background-color: #1e3448;
  padding-top: 120px;
  height: 700px;
  color: white;
}

.pricing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 20px 20px 50px 0;
}

.pricing-button a {
  border: 1px solid #0065fe;
  border-radius: 20px;
  text-decoration: none;
}

.pricing-button a:first-child {
  color: #0065fe;
  padding: 10px 15px;
}

.pricing-button a:last-child {
  background-color: #0065fe;
  padding: 10px 30px;
  color: white;
}

.url-section {
  background-color: #233b4f;
}

.form-box {
  margin: 0 20px;
  padding: 100px 0px;
}

.url-form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border: 1px solid;
  border-radius: 10px;
  margin: 0px 350px;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: 100%;
}

.form-group div {
  flex: 1;
}

input,
select:not(#features) {
  font-family: "Euclid-Light";
  width: 100%;
  border: 1px solid #0065fe;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
}

#top-input {
  width: 100%;
}

input:focus {
  outline: 1px solid #0065fe;
}

.url-form img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.url-btn a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  border: 1px solid #0065fe;
  background-color: #0065fe;
  color: white;
  border-radius: 20px;
  padding: 10px 60px;
}

.url-btn {
  width: 100%;
  padding: 10px;
}

.url-form p {
  color: #0065fe;
  margin: 0 10px;
}

.url-form p span {
  font-weight: bold;
}

.faq-section {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-content {
  margin: 0 300px;
}

.faq-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
}

.faq-head h2 {
  font-size: 2rem;
}

.faq-head img {
  height: 30px;
}

.faq-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.faq-body h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-body img {
  width: 20px;
  height: 20px;
}

.faq-body p {
  margin: 0 15px;
}

.get-started-link-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #233b4f;
  text-align: center;
}

.get-started-link-content {
  margin: 100px;
}

.get-started-link-section-head {
  font-size: 2rem;
  color: white;
  padding-bottom: 40px;
}

.get-started-link-content a {
  text-decoration: none;
  color: white;
  border: 1px solid #0065fe;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #0065fe;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f5fdfe;
  padding: 20px 0;
}

.footer-section img {
  width: 30px;
  height: 30px;
}

.logo-and-social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-and-social-section .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logo-and-social-section .logo > img:first-child {
  width: 30px;
  height: 30px;
}

.logo-and-social-section .logo img {
  width: 2px;
  height: 25px;
  color: black;
  filter: sepia(1);
}

.socials {
  display: flex;
  gap: 10px;
  padding: 40px 0;
}

.resource-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.logo-and-social-section,
.resource-links {
  width: 100%;
}

.resource-links li,
.resource-links a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.resource-links .resource-group-1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.resource-links .resource-group-2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.copyright {
  background-color: #f5fdfe;
  display: flex;
  justify-content: end;
  padding: 20px 90px;
}

@media (max-width: 768px) {
  .nav-section {
    flex-direction: column;
    padding: 10px 15px;
  }

  .nav-section .logo {
    padding: 0;
  }

  .nav-section .logo img:first-child {
    width: 20px;
    height: 20px;
  }

  .nav-section .logo img {
    width: 1.5px;
    height: 20px;
  }

  .nav-section .logo h2 {
    font-size: 1.2rem;
  }

  .nav-section .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-section ul,
  .nav-links a {
    gap: 10px;
  }

  .nav-links .trial-btn {
    width: 100%;
    text-align: center;
  }

  .nav-links .login-link a {
    padding-right: 0;
  }

  .nav-links a:not(.login-link, .trial-btn) a {
    padding: 0;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .hero-head,
  .hero-button,
  .link-arrow-section {
    margin: 10px 15px;
  }

  .hero-head h2 {
    font-size: 2rem;
    width: auto;
  }

  .hero-head img {
    left: 0;
    width: 140px;
    height: 20px;
    padding-left: 70px;
  }

  .hero-head p {
    width: 100%;
    font-size: 16px;
  }

  .hero-button {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-button a {
    text-align: center;
  }

  .link-arrow-section {
    width: 500px;
    height: auto;
    padding: 10px;
  }

  .link-arrow-section img:first-child {
    right: 0;
  }

  .link-arrow-section p {
    width: 100%;
  }

  .oval-icon {
    display: none;
  }

  .vector-section {
    display: none;
  }

  .vector-section img:last-child {
    width: 100%;
  }

  .stats-section {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
  }

  .stats-text,
  .stats-users,
  .stats-links,
  .stats-clicked,
  .stats-integration {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .why-section {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .why-scissor,
  .features-section {
    margin: 0;
    width: 100%;
  }

  .features-section {
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 30px;
  }

  .feature {
    width: 100%;
  }

  .pricing-section {
    padding: 10px;
  }

  .pricing-body {
    width: 100%;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
    height: 700px;
  }

  #basic-card,
  #teams-card,
  #professional-card {
    border-radius: 10px;
    font-size: 0.8rem;
  }

  #professional-card {
    height: 850px;
  }

  .pricing-button {
    flex-direction: row;
  }

  .url-form {
    margin: 0 50px;
    padding: 20px;
  }

  .form-group {
    flex-direction: row;
  }

  .faq-content {
    margin: 0 10px;
  }

  .get-started-link-content {
    margin: 20px;
    padding-bottom: 30px;
  }

  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .resource-links .resource-group-1,
  .resource-links .resource-group-2 {
    flex-direction: row;
  }
}

@media (min-width: 390px) and (max-width: 480px) {
  body {
    width: 180%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .nav-section {
    width: 100%;
    padding-left: 50px;
    overflow-x: hidden;
  }

  .nav-section .logo h2 {
    font-size: 1rem;
  }

  .hero-section {
    width: 100%;
    padding-left: 50px;
  }

  .hero-head img {
    position: relative;
    left: -100px;
  }

  .hero-head h2 {
    font-size: 1.8rem;
    width: 500px;
  }

  .hero-head p {
    font-size: 14px;
    width: 400px;
    padding-right: 20px;
  }

  .hero-button {
    padding-right: 30px;
  }

  .hero-button a {
    font-size: 13px;
  }

  .hero-button .hero-colored-button {
    padding: 8px 20px;
  }

  .link-arrow-section {
    border-radius: 10px;
    padding: 30px;
    width: 80%;
  }

  .about-section {
    width: 100%;
    overflow-y: hidden;
  }

  .stats-section {
    width: 100%;
  }

  .stats-text h2 {
    font-size: 1.5rem;
  }

  .why-scissor-head h2 {
    font-size: 1.5rem;
  }

  .features-section {
    flex-direction: column;
    width: 100%;
  }

  .feature img {
    padding: 5px;
    border-radius: 100px;
  }

  .feature h3 {
    font-size: 1rem;
  }

  .feature p {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }

  .card h2,
  .card h3,
  .card h4 {
    font-size: 1rem;
  }

  .cards {
    flex-direction: column;
  }

  .pricing-section {
    width: 100%;
  }

  .pricing-heading {
    width: 100%;
  }

  .pricing-head h2 {
    width: 458px;
  }

  .pricing-button a {
    padding: 8px 15px;
    font-size: 13px;
  }

  .url-section {
    width: 100%;
  }

  .url-form {
    padding: 10px;
  }

  .faq-section {
    width: 100%;
  }

  .faq-head h2 {
    font-size: 1.5rem;
  }

  .get-started-link-section {
    width: 100%;
  }

  .get-started-link-section-head {
    font-size: 1.5rem;
  }

  .get-started-link-content a {
    padding: 8px 15px;
    font-size: 13px;
  }

  .footer-section {
    width: 100%;
  }

  .footer-section img {
    width: 25px;
    height: 25px;
  }

  .logo-and-social-section .logo h2 {
    font-size: 1rem;
  }

  .resource-links li,
  .resource-links a {
    font-size: 0.8rem;
  }

  .resource-links {
    flex-direction: column;
  }

  .resource-links .resource-group-1,
  .resource-links .resource-group-2 {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: "Almarena-Medium";
  src: url(./Assets/Fonts/AlmarenaNeueDisplay-Medium-iF66afd734e6b8e.otf);
}

@font-face {
  font-family: "Almarena-Regular";
  src: url(./Assets/Fonts/AlmarenaNeueDisplay-Regular-iF66afd734ef9a2.otf);
}

@font-face {
  font-family: "Euclid-Light";
  src: url(./Assets/Fonts/Euclid\ Circular\ A\ Light.ttf);
}

@font-face {
  font-family: "Euclid-Regular";
  src: url(./Assets/Fonts/Euclid\ Circular\ A\ Regular.ttf);
}
